:root {
    --primary: #F4EBD9;
    --secondary: #A39A92;
    --terciary: #77685D;
}
.header {
  overflow: hidden;
  background-color: #3a3131;
  padding: 1.2rem 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header a:not(a.logo) {
  color: black;
  text-align: center;
  padding: 0.8rem;
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 2rem;
  border-radius: 0.25rem;
  align-self: flex-end;
  justify-content: flex-end;
}
.header a:not(a.logo):hover {
  color: black;
}

.header a.logo {
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.8rem;
  text-decoration: none;
  line-height: 2rem;
  border-radius: 0.25rem;
  flex: 20;
  text-align: left;
  align-self: flex-start;
  align-items: flex-start;
  font-family: "Arial Black", sans-serif;
}

.header a:hover:not(a.logo) {
  background-color: #251f1f;
  color: #000000;
  transition: 0.2s;
}

.searchbar{
  margin: 1rem;
}


body {
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
  font-size: 0.95rem;
  background-color: #8f8282;
  text-align: center;
}

.footer{
  background-color: #393333;
  padding: 1rem 0.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 2rem;
}
.footer_data{
  padding: 1rem;
  align-content: center;
  align-items: center;
}
.footer_link{
  color: black;
  text-decoration: None;
}
.footer_link:hover{
  color: #959595;
  font-size: 1.05rem;
  transition: 0.3s;
}
