:root {
    --primary: #77685D;
    --secondary: #8e8177;
    --terciary: #c1b7a9;
    --primaryhover: #615145;
}
.header {
  overflow: hidden;
  background-color: var(--primary);
  padding: 1.2rem 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header__notlogo--box {
  color: black;
  text-align: center;
  padding: 0.8rem;
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 2rem;
  border-radius: 0.25rem;
  align-self: flex-end;
  justify-content: flex-end;
}
.header__notlogo--searchbox {
  color: black;
  text-align: center;
  padding: 0.8rem;
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 2rem;
  width: 15rem;
  border-radius: 0.25rem;
  align-self: flex-end;
  justify-content: flex-end;
}

.header__notlogo--searchbox:hover{
  width: 75rem;
  transition: 1s;
}

.header__notlogo:hover {
  color: black;
}

.header__logo {
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.8rem;

  text-decoration: none;
  line-height: 2rem;
  border-radius: 0.25rem;
  flex: 20;
  text-align: left;
  align-self: flex-start;
  align-items: flex-start;
  font-family: "Arial Black", sans-serif;
}

.header__notlogo--box:hover {
  background-color: var(--primaryhover);
  color: #000000;
  transition: 0.2s;
}

.searchbar{
  margin: 1rem;
}


body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.95rem;
  background-color: var(--terciary);
  text-align: center;
}

.footer{
  background-color: var(--secondary);
  padding: 1rem 0.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 2rem;
}
.footer_data{
  padding: 1rem;
  align-content: center;
  align-items: center;
}
.footer_link{
  color: black;
  text-decoration: None;
}
.footer_link:hover{
  color: var(--terciary);
  font-size: 1.05rem;
  transition: 0.3s;
}
