:root {
    --primary: #77685D;
    --secondary: #8e8177;
    --terciary: #c1b7a9;
    --primaryhover: #615145;
    --font: "Arial Black", sans-serif;
    --secondfont: "Helvetica Neue", sans-serif;
    --darkprimary: #534942;
    --darksecondary: #605650;
    --darkterciary: #857f6c;
    --darkprimaryhover: #42372f;
}



/* Header */
.header {
  overflow: hidden;
  background-color: var(--primary);
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--terciary);
}
.header__notlogo{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}
.header__notlogo--box {
  color: var(--terciary);
  text-align: center;
  padding: 0.8rem;
  text-decoration: none;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  align-self: flex-end;
  justify-content: flex-end;
  flex-direction: row;
}

.header__notlogo--box:hover {
  background-color: var(--primaryhover);
  transition: 0.2s;
}

.header__notlogo--searchbox {
  text-align: center;
  padding: 0.3rem;
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 2rem;
  width: 15rem;
  border-radius: 0.25rem;
  align-self: center;
  justify-content: flex-end;
  background-color: var(--terciary);
  color: var(--primary);
}

.header__notlogo--searchbox:hover{
  width: 50rem;
  transition: 1s;
}

.header__notlogo:hover {
  color: var(--terciary);
}
.header__notlogo--icon{
  height: 3rem;
  width: 3rem;
  background-color: var(--secondary);
  color: var(--secondary);
  border-radius: 1rem
}
.header__notlogo--icon:hover{
  height: 5rem;
  width: 5rem;
  background-color: var(--terciary);
  transition: 0.3s;
}

.header__logo {
  color: var(--terciary);
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.8rem;
  text-decoration: none;
  line-height: 2rem;
  border-radius: 0.25rem;
  width: 25%;
  text-align: left;
  flex: 20;
  align-self: flex-start;
  align-items: flex-start;
  font-family: var(--font);
}
.header__logo:hover{
  font-size: 1.5rem;
  transition: 0.5s
}


.searchbar{
  margin: 1rem;
}

/* Cuerpo */
body {
  margin: 0;
  font-family: var(--secondfont);
  font-size: 0.95rem;
  background-color: var(--terciary);
  text-align: center;
}


/* Footer */
.footer{
  background-color: var(--primary);
  padding: 1rem 0.5rem;
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 2rem;
}
.footer__data{
  padding: 1rem;
  align-content: center;
  align-items: center;
  color: var(--terciary);
}
.footer__data--icon{
  border-radius: 50%;
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  align-items: center;
  text-decoration: none;
  transition: 0.3s ease;
  font-size: 2rem;
  color: var(--secondary)
}
.footer__data--link{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--terciary);
  font-size: 1.2rem;
  text-decoration: None;
}
.footer__data--link:hover{
  color: var(--secondary);
  font-size: 1.4rem;
  transition: 0.3s;
}
/* Página principal: Ofertas */

.ofertas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  width: 30%;
  border-radius: 0.8rem;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: var(--primary);
  overflow: hidden;
  position: relative;
  top: 0.8rem;
  right: 0;
  transform: translate(100%);
  margin-left: auto;
  animation: move 10s linear infinite,
  cambio_color 5s linear infinite;
}
.ofertas:hover{
  width: 35%;
  padding: 2.75rem;
  transition: 0.8s;
  font-size: 1.75rem;
}
.ofertas__link{
  color: var(--terciary);
  text-decoration: None;
}
@keyframes move {
  to {
    right: 100%;
    transform: translate(0);
  }
}
@keyframes cambio_color{
  0% {background-color: var(--primary)}
  33% {background-color: var(--secondary)}
  66% {background-color: var(--primary)}
}

/* Página principal: Lanzamientos */

.lanzamientos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem
}
.lanzamientos__seccion{
  justify-content: space-between;
}
.lanzamientos__seccion--imagenes{
  padding: 2rem
}


.lanzamientos__seccion--texto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  width: 20%;
  border-radius: 0.8rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: var(--secondary);
  color: var(--terciary);
  text-decoration: None;
}


.lanzamientos__seccion--texto:hover{
  width: 22%;
  font-size: 1.6rem;
  padding: 1.1rem;
  transition: 0.5s;
}



.seccion__imagenes--contenido{
  border-radius: 0.8rem;
  width: 18.75rem;
  height: 18.75rem
}
.seccion__imagenes--contenido:hover{
  transform: rotate(2deg);
  transition: 0.2s;
}

/* Página principal: Recomendaciones */
.recomendaciones{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  width: 30%;
  border-radius: 0.8rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: var(--secondary);
  color: var(--terciary);
  text-decoration: None;
  margin-bottom: 4rem;
}
.recomendaciones__login{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  width: 20%;
  border-radius: 0.8rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: var(--primary);
  color: var(--terciary);
  text-decoration: None;
}
.recomendaciones__login:hover{

  background-color: var(--primaryhover);
  transition: 0.5s;
  padding: 1.1rem
}

/* Productos: Cuerpo */

.cuerpo{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  color: var(--terciary);
}
.cuerpo__izquierda{
  width: 15%;
}
.cuerpo__derecha{
  width: 85%;
}

/* Productos: Filtro */

.filtro{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--secondary);
  color: var(--terciary);
  border-radius: 0.8rem;
  width: 20rem;
}
.filtro__texto{
  font-size: 1.3rem;
}
.filtro__precio{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.filtro__precio--min{
  width: 3rem;
  padding: 1rem;
  background-color: var(--terciary);
  color: var(--primary);
  border-radius: 0.8rem;
}
.filtro__precio--max{
  width: 3rem;
  padding: 1rem;
  background-color: var(--terciary);
  color: var(--primary);
  border-radius: 0.8rem;
}

.filtro__checkboxes{
}
.filtro__checkboxes--check{
  height: 1rem;
}

/* Productos: Productos*/

.productos{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
  justify-content: center;
  color: var(--primary)
}

.productos__image{
}
.productos__image:hover{
  transition: 0.5s;
}
.productos__image--photo{
  height: 80%;
  width: 80%;
  border-radius: 0.8rem;
  background-color: var(--primary);
  padding: 0.4rem;
}
.productos__image--photo:hover{
  height: 96%;
  width: 96%;
  transition: 0.5s
}
.productos__image--link{
  align-self: center;

}

.productos__text{
  width: 25%;
  font-size: 1.4rem;
  border-radius: 0.8rem;
  background-color: var(--primary);
  color: var(--terciary);
}
.productos__text:hover{
  width: 30%;
  font-size: 1.6rem;
  transition: 0.5s;
  background-color: var(--primaryhover);
}

.productos__text--info{
  height: 100%;
  width: 100%;
}

/* Productos: Sugerencias*/

.sugerencias{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem
}
.sugerencias--sugerencias_seccion{
  justify-content: space-between;
}
.sugerencias__sugerencias_seccion--imagenes{
  padding: 2rem
}


.sugerencias__sugerencias_seccion--texto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  width: 20%;
  border-radius: 0.8rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: var(--secondary);
  color: var(--terciary);
  text-decoration: None;
}


.sugerencias__sugerencias_seccion--texto:hover{
  width: 22%;
  font-size: 1.6rem;
  padding: 1.1rem;
  transition: 0.5s;
}

.sugerencias_seccion__imagenes--contenido{
  border-radius: 0.8rem;
  margin-left: 5rem;
  margin-right: 5rem;
  width: 18.75rem;
  height: 18.75rem
}
.sugerencias_seccion__imagenes--contenido:hover{
  transform: rotate(2deg);
  transition: 0.2s;
}

/* Contacto */

/* Contacto: Superior */
.contacto_superior{
  padding: 2rem;
  background-color: var(--secondary);
  align-self: flex-start;
}
.contacto_superior__texto{
  color: var(--terciary);
}

/* Contacto: Info_contacto */
.info_contacto{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 1rem;
}
.info_contacto__caja{
  width: 20%;
  background-color: var(--secondary);
  border-radius: 0.8rem;
  padding: 2rem;
  justify-content: center;
  align-content: center;
  color: var(--terciary);
}
/* Contacto: Caja_contacto */
.caja_contacto{
  border-radius: 2rem;
  background-color: var(--primary);
  width: 20%;
  height: 90%;
  padding: 1rem;
  justify-content: space-around;
  justify-self: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.caja_contacto__texto{
  border-radius: 0.8rem;
  background-color: var(--secondary);
  padding: 2rem;
  justify-content: space-evenly;
  color: var(--terciary)
}
.caja_contacto__texto--searchbox{
  background-color: var(--terciary);
  color: var(--primary)
}
.caja_contacto__texto--button{
  border: none;
  background-color: var(--primary);
  color: var(--terciary);
  font-family: var(--font);
  padding: 0.5rem;
  border-radius: 0.8rem;
  text-align: center;
  display: inline-block;
}
.caja_contacto__texto--button:hover{
  padding: 0.6rem;
  font-size: 1.05rem;
  transition: 0.3s;
}


/* Login */

/* Login: Caja */

.caja{
  border-radius: 2rem;
  background-color: var(--primary);
  height: 90%;
  padding: 1rem;
  margin-top: 3rem;
  justify-content: space-around;
  justify-self: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  width: 53rem
}
.caja_contacto{
  border-radius: 2rem;
  background-color: var(--primary);
  width: 20%;
  height: 90%;
  padding: 1rem;
  justify-content: space-around;
  justify-self: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.caja__texto{
  border-radius: 0.8rem;
  background-color: var(--secondary);
  padding: 2rem;
  justify-content: space-evenly;
  color: var(--terciary)
}
.caja__texto--searchbox{
  background-color: var(--terciary);
  color: var(--primary)
}
.caja__texto--button{
  border: none;
  background-color: var(--primary);
  color: var(--terciary);
  font-family: var(--font);
  padding: 0.5rem;
  border-radius: 0.8rem;
  text-align: center;
  display: inline-block;
}
.caja__texto--button:hover{
  padding: 0.6rem;
  font-size: 1.05rem;
  transition: 0.3s;
}
.caja__imagen{
}
.caja__imagen--contenido{
  border-radius: 0.8rem;

  height: 100%;
  width: 100%
}


/* Login: Info_login */
.info_login{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 1rem;
}


/* Login: Interesante */

.interesante{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  justify-self: center;
  overflow: hidden;
  position: relative;
  top: 0.8rem;
  right: 0;
  transform: translate(100%);
  margin-left: auto;
  width: 20%;
  padding: 1rem;
  margin-bottom: 2rem;
  animation: move 10s linear infinite;
}
.interesante:hover{

  animation-play-state: paused
}
.interesante__grupo{
  color: var(--primary)
}
.interesante__link--imagen{
  padding: 0.5rem;
  border-radius: 0.8rem;
  width: 50%;
  background-color: var(--primary);
}
.interesante__link--imagen:hover{
  padding: 0.7rem;
  transition: 0.8s;
  width: 55%;
}
@keyframes move {
  to {
    right: 100%;
    transform: translate(0);
  }
}
@keyframes cambio_color{
  0% {background-color: var(--primary)}
  33% {background-color: var(--secondary)}
  66% {background-color: var(--primary)}
}

/* media-queries */
@media (max-width: 1550px){
  .caja{
    flex-direction: column;
  }
  .info_login {
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 2rem;
  }
  .info_contacto{
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 2rem;
  }
  .info_contacto__caja{
    width: 20rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 1400px){
  .header__notlogo--searchbox:hover{
    width: 20rem;
  }
  .recomendaciones{
    width: 20rem
  }
  .caja_contacto{
    width: 20rem;
  }
}
@media (max-width: 1060px){
  .lanzamientos{
    flex-direction: row;
  }
  .lanzamientos__seccion--texto{
    width: 12rem
  }
  .lanzamientos__seccion--texto:hover{
    width: 14rem
  }
  .ofertas{
    width: 21rem
  }
  .cuerpo{
    flex-direction: column;
  }
  .productos__text{
    width: 10rem
  }
  .productos__text:hover{
    width: 12rem
  }
  .sugerencias__sugerencias_seccion--texto{
    width: 12rem
  }
  .sugerencias__sugerencias_seccion--texto:hover{
    width: 14rem
  }
}
@media (max-width: 820px){
  .header{
    flex-direction: column;
  }
  .header__notlogo{
    flex-direction: column;
  }
}
